{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body
        {
            background-color: rgb(18, 13, 141);
        }
        h1
        {
            color: orangered;
        }
    </style>
</head>
<body>
    <center>
        <h1>Team India</h1>
        <img src="{% static 'images/cricket_hd.jpg' %}" alt="No image" height="300px" width="300px">
    </center>
</body>
</html>